body{
    background-color: #6BC4B2;
}
.logout{
    float: right;
    margin-right: 150px;
}
h1{
    margin-left: 31%;
}
h3{
    margin-left: 33%;
}
.bootstrap-iso{
    margin-left: 33%;
    width: 100%
}
.container-fluid{
    background-color: #6BC4B2;
    width: 100%
}
.row{
    width: 100%
}
.col-md-6 col-sm-6 col-xs-12{
    width: 100%
}
.update{
    margin-left: 35%;
}
table{
    margin-left: 34%;
}
h2{
    margin-left: 34%;
}
.buyFood{
    margin-left: 46%;
}
.add{
    margin-left: 34%;
}